<div class="col s12 m7">
  <h2 class="header">Enter Your Email To Get The Otp!</h2>
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <div class="container">
          <form action="/getotp" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email" />
                <label for="email"
                  >Email <i class="material-icons">email</i></label
                >
              </div>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">
              <p style="font-size: 20px;">
                Get Otp<i class="material-icons" style="font-size: 23px;"
                  >send</i
                >
              </p>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
